<a href="https://colab.research.google.com/github/mars241/NLP_Natural-Language-Processing/blob/main/Corrig%C3%A9_de_Chang_HE_NLP_4%265.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  importation de la Bibliothèque pour la lecture/traitement de DF (train.csv)
import pandas as pd
# importation du dé-zippeur
import zipfile

#df = pd.read_csv("/Users/changerer/Desktop/DataAnalyst/tweets.zip", compression='zip')

# My link :
# link_zip_folder = "C:/Users/marcia2/Desktop/Data/tweets.zip"
# df = pd.read_csv(link_zip_folder, compression='zip')

zip_name='tweets.zip'
csv_name='train.csv'
myzip = zipfile.ZipFile(zip_name) # open zip  # ouvrir le zip
file = myzip.open(csv_name) # open csv # ouvrir le  csv

df= pd.read_csv(file) # pandas read csv # pandas pour lire le csv
df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [ ]:
df = pd.read_csv("tweets.zip", compression='zip')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27480 entries, 0 to 27479
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         27480 non-null  object
 1   text           27480 non-null  object
 2   selected_text  27480 non-null  object
 3   sentiment      27480 non-null  object
dtypes: object(4)
memory usage: 858.9+ KB

In [ ]:
# Ne garde que les tweets positifs et négatifs (tu excluras donc les neutral). Quel est le pourcentage de tweets positifs/négatifs ?
pourcentage = (1 - len(df[df['sentiment'] == 'neutral'])/len(df)) * 100
print(round(pourcentage, 2),'%')

59.55 %

In [ ]:
df = df[df['sentiment'] != 'neutral']

In [ ]:
# Copie la colonne text dans une Série X, et la colonne sentiment dans une Série y.
# Applique un train test split avec le random_state = 32 et un train_size de 0.75.

from sklearn.model_selection import train_test_split
X = df['text']
y = df['sentiment']
X_train, X_test, y_train, y_test = train_test_split(X, y,train_size=0.75, random_state=32)

# Quête 4 :
### Crée un modèle vectorizer avec scikit-learn en utilisant la méthode Countvectorizer.  Entraîne ton modèle sur X_train, puis crée une matrice de features X_train_CV. Crée la matrice X_test_CV sans ré-entraîner le modèle. Le format de la matrice X_test_CV doit être 4091x15806 avec 44633 stored elements.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X_train_CV = vectorizer.fit_transform(X_train)
X_train_CV

<12272x15806 sparse matrix of type '<class 'numpy.int64'>'
	with 144578 stored elements in Compressed Sparse Row format>

In [ ]:
vectorizer.get_feature_names_out()

array(['00', '000', '00am', ..., '½you', '½z', '½ï'], dtype=object)

In [ ]:
pd.DataFrame(X_train_CV.toarray(),columns = vectorizer.get_feature_names_out())

,00,000,00am,01,024,02mxjj,03,04,05,06,...,½re,½rio,½s,½t,½tearï,½timo,½ve,½you,½z,½ï
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12267,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12268,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12269,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12270,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12271,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X_train_CV = vectorizer.transform(X_train)
X_train_CV

<12272x15806 sparse matrix of type '<class 'numpy.int64'>'
	with 144578 stored elements in Compressed Sparse Row format>

In [ ]:
X_test_CV = vectorizer.transform(X_test)
X_test_CV

<4091x15806 sparse matrix of type '<class 'numpy.int64'>'
	with 44633 stored elements in Compressed Sparse Row format>



### 1.   Entraîne maintenant une régression logistique avec les paramètres par défaut. Tu devrais obtenir les résultats suivants : 0.966 pour le test d'entraînement, et 0.877 pour l'ensemble de test.
### 2.   Étape bonus : essaye d'afficher 10 tweets qui ont été mal prédits (faux positifs ou faux négatifs). Aurais-tu fait mieux que l'algorithme ?

In [ ]:
# régression logistique

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train_CV,y_train)
print("Accuracy score sur l'ensemble d'entraînement :", '%.3f'%model.score(X_train_CV, y_train))
print("Accuracy score sur l'ensemble de test :", '%.3f'%model.score(X_test_CV, y_test))

Accuracy score sur l'ensemble d'entraînement : 0.966
Accuracy score sur l'ensemble de test : 0.877

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
y_predicted = model.predict(X_test_CV)
for prediction, truth in zip(y_predicted[:10], y_test[:10]):
    print(prediction, truth)

negative negative
negative negative
positive negative
positive positive
negative negative
negative negative
positive positive
positive positive
positive positive
negative negative

In [ ]:
# Print the Confusion Matrix on the test set
from sklearn.metrics import confusion_matrix
pd.DataFrame(data= confusion_matrix(y_true = y_test, y_pred = y_predicted),
             index = model.classes_ + " TRUTH",
             columns = model.classes_ + " PREDICTED")

                negative PREDICTED  positive PREDICTED
negative TRUTH                1700                 235
positive TRUTH                 267                1889

In [ ]:
from sklearn.metrics import classification_report
from sklearn.metrics import precision_recall_fscore_support


print(classification_report(y_test, y_predicted))

              precision    recall  f1-score   support

    negative       0.86      0.88      0.87      1935
    positive       0.89      0.88      0.88      2156

    accuracy                           0.88      4091
   macro avg       0.88      0.88      0.88      4091
weighted avg       0.88      0.88      0.88      4091

# Quête 5 :
### Crée un modèle vectorizer avec scikit-learn en utilisant la méthode TfidfVectorizer. Entraîne ton modèle sur X_train, puis crée une matrice de features X_train_CV. Crée la matrice X_test_CV sans ré-entraîner le modèle. Le format de la matrice X_test_CV doit être 4091x15806 avec 44633 stored elements.
### Entraîne maintenant une régression logistique avec les paramètres par défaut. Tu devrais obtenir les résultats suivants : 0.932 pour le test d'entraînement, et 0.873 pour l'ensemble de test.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
X_train_tfidf = tfidf.fit_transform(X_train)
X_train_tfidf

<12272x15806 sparse matrix of type '<class 'numpy.float64'>'
	with 144578 stored elements in Compressed Sparse Row format>

In [ ]:
pd.DataFrame(X_train_tfidf.toarray(),columns = tfidf.get_feature_names_out())

,00,000,00am,01,024,02mxjj,03,04,05,06,...,½re,½rio,½s,½t,½tearï,½timo,½ve,½you,½z,½ï
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12269,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
X_test_tfidf = tfidf.transform(X_test)
X_test_tfidf

<4091x15806 sparse matrix of type '<class 'numpy.float64'>'
	with 44633 stored elements in Compressed Sparse Row format>

In [ ]:
pd.DataFrame(X_test_tfidf.toarray(),columns = tfidf.get_feature_names_out())

In [ ]:
# régression logistique

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train_tfidf,y_train)
print("Accuracy score sur l'ensemble d'entraînement :", '%.3f'%model.score(X_train_tfidf, y_train))
print("Accuracy score sur l'ensemble de test :", '%.3f'%model.score(X_test_tfidf, y_test))

Accuracy score sur l'ensemble d'entraînement : 0.932
Accuracy score sur l'ensemble de test : 0.873