<a href="https://colab.research.google.com/github/mars241/NLP_Natural-Language-Processing/blob/main/Official_correction_NLP_5_TfIdf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [ ]:
df = pd.read_csv('https://github.com/murpi/wilddata/raw/master/quests/tweets.zip')
df.head()

       textID  ... sentiment
0  cb774db0d1  ...   neutral
1  549e992a42  ...  negative
2  088c60f138  ...  negative
3  9642c003ef  ...  negative
4  358bd9e861  ...  negative

[5 rows x 4 columns]

In [ ]:
# ne garder que les tweet positifs et négatifs
df = df[df['sentiment'].isin(['negative', 'positive'])]

In [ ]:
# pourcentage de tweets positifs et négatifs
df.sentiment.value_counts(normalize=True)*100

positive    52.447595
negative    47.552405
Name: sentiment, dtype: float64

52.44 % de tweet positifs / 47.55% de tweet négatifs

In [ ]:
# X,y et train_test_split
X = df.text
y = df.sentiment

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 32)

In [ ]:
# Crée un modèle TF IDF
vectorizer = TfidfVectorizer()

# Entraîne ton modèle sur X_train
vectorizer.fit(X_train)

# créer sparse_matrix sur X_train
X_train_CV = vectorizer.transform(X_train)

# créer sparse_matrix sur X_test SANS FIT
X_test_CV = vectorizer.transform(X_test)

# format matrix de test
X_test_CV

<4091x15806 sparse matrix of type '<class 'numpy.float64'>'
	with 44633 stored elements in Compressed Sparse Row format>

In [ ]:
# Regression Logistique
model = LogisticRegression().fit(X_train_CV,y_train)

print('Accuracy score on the train set :', round(model.score(X_train_CV, y_train), 3))
print('Accuracy score on the test set :', round(model.score(X_test_CV, y_test), 3))

Accuracy score on the train set : 0.932
Accuracy score on the test set : 0.873